.movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.movie img {
    flex: 0 0 auto;
    width: 130px;
    aspect-ratio: 3/4;
    margin-right: 20px;
}

.movietitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movieinfo {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
}

.moviedetails {
    font-size: 16px;
    margin-bottom: 10px;
}

.moviedescription {
    font-size: 18px;
    margin-bottom: 10px;
}